async-timeout==3.0.1
discord==1.7.3
discord.py==1.7.3
urllib3==1.26.4
requests==2.25.1
nest-asyncio==1.5.1
asyncio==3.4.3
aiohttp==3.7.4.post0
psycopg2==2.9.2
dataframe-image==0.1.1
pandas==1.4.1
numpy==1.22.2
